.similar-products {
  margin: 20px 0;
}

.similar-product-item {
  padding: 10px;
  text-align: center;
}

.similar-product-item img {
  max-width: 100%;
  height: 200px;
  object-fit: contain;
}

.similar-product-item h3 {
  font-size: 14px;
  margin: 10px 0;
}

.similar-product-item p {
  font-weight: bold;
}