/* Category Container */
.category-container {
    padding: 20px;
    font-family: 'Arial', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f4f4f4;
}

.category-header {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #333;
}

/* Category Buttons */
.category-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
}

.category-button {
    background-color: #ff9900;
    color: #fff;
    border: 1px solid #e47c00;
    padding: 12px 24px;
    font-size: 1.1em;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s, border-color 0.3s, transform 0.2s;
}

.category-button:hover {
    background-color: #e68a00;
    border-color: #d97a00;
    transform: scale(1.05);
}

/* Category Items */
.category-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.category-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    width: 280px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: box-shadow 0.3s, transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.category-item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

.category-item img {
    width: 100%; /* Make image fit the container width */
    height: 200px; /* Fixed height for uniformity */
    object-fit: contain; /* Ensure images cover the space without distortion */
    border-radius: 8px;
    margin-bottom: 15px;
}

.category-item h4 {
    margin: 10px 0;
    font-size: 1.3em;
    color: #333;
}

.category-item p {
    margin: 5px 0;
    color: #777;
}

.view-details-button {
    background-color: #007185;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.2s;
    display: inline-block;
}

.view-details-button:hover {
    background-color: #005f73;
    transform: scale(1.05);
}
.product__button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #ff9900;
    color: white;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .product__button:hover {
    background-color: #e68900;
    transform: translateY(-3px);
  }
  
  .product__button:active {
    background-color: #cc7a00;
    transform: translateY(0px);
    box-shadow: none;
  }